* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1340px;
  padding: 0 20px;
  margin: 0 auto;
}
body {
  // background-image: url("../src/hero_bg.jpg");
  // background-repeat: no-repeat;
  // background-size: 1440px 1024px;
  // background-position: calc(50%) calc(50% + 448px)
  background-image: url("../src/main.bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% calc(50%);
  overflow-x: hidden;
}
@media (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
@media (max-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
