footer {
  color: $main-color;
  font-family: $main-font;
  position: relative;

  .footer__top__bg {
    position: absolute;
    border-radius: 50px;
    background-color: #c4c4c426;
    padding: 17px;
    bottom: 180px;
    left: 250px;
  }
  .footer__top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $second-color;
    padding: 120px 241px;
    border-radius: 50px;
  }
  .footer__title {
    font-size: 48px;
  }
  .footer__text {
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .footer__top_bot {
    display: flex;
    border-radius: 20px;
  }
  .footer__input::placeholder {
    color: #00000040;
    font-family: $main-font;
  }
  .footer__input {
    width: 350px;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 13px;
    font-size: 18px;
    border: none;
    outline: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .footer__icon_bg {
    padding: 17px 30px;
    background-color: #0b153c;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
  }
  .paper {
    font-size: 40px;
  }
  .footer__bottom {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 336px;
    padding-bottom: 93px;
  }
  .footer__bottom__title {
    color: $main-color;
    font-family: $main-font;
    font-size: 32px;
    cursor: pointer;
  }
  .footer__list {
    display: flex;
    // width: 450px;
    column-gap: 25px;
    justify-content: center;
    list-style: none;
    margin: 0 auto;
  }
  .footer__item {
    font-size: 24px;
  }
  .footer__left {
    display: flex;
    list-style: none;
    align-items: center;
  }
  .youtube_icon {
    font-size: 50px;
  }
  .instagram__icon {
    font-size: 50px;
  }
  .twitter__icon {
    font-size: 50px;
  }
  .facook {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  footer {
    .footer__top {
      padding: 16px 48px 56px 62px;
    }
    .footer__top__bg {
      top: -129px;
      left: 60px;
      height: 306px;
      width: 643px;
    }
    .footer__bottom {
      flex-direction: column;
      align-items: start;
      row-gap: 40px;
    }
    .footer__list {
      margin: 0;
    }
  }
}
@media (max-width: 375px) {
  footer {
    .footer__title {
      font-size: 18px;
    }
    .footer__text {
      font-size: 10px;
    }
    .paper {
      font-size: 20px;
    }
    .footer__input {
      padding-left: 12px;
      padding-top: 10px;
      width: 168px;
      border-top-left-radius: 20px;
      border-bottom-left-radius: 20px;
    }
    .footer__icon_bg {
      padding: 13px 27px;
    }
    .footer__input::placeholder {
      font-size: 10px;
    }
    .footer__top {
      width: 280px;
      border-radius: 10px;
    }
    .footer__top__bg {
      width: 310px;
      height: 230px;
      border-radius: 10px;
      top: -118px;
      left: 37px;
    }
    .footer__list {
      flex-direction: column;
      row-gap: 10px;
    }
    .footer__bottom__title {
      font-size: 18px;
    }
    .footer__item {
      font-size: 14px;
    }
    .youtube_icon {
      font-size: 17px;
    }
    .instagram__icon {
      font-size: 17px;
    }
    .twitter__icon {
      font-size: 17px;
    }
    .facook {
      font-size: 17px;
    }
    .footer__left {
      row-gap: 4px;
    }
    .footer__bottom {
      row-gap: 20px;
    }
    .footer__bottom {
      padding-top: 133px;
      padding-bottom: 30px;
    }
    .footer__icon_bg {
      padding: 10px 23px 10px 11px;
      display: flex;
      align-items: center;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  }
}
