.result {
  padding: 63px 0;
  .result__inner {
    background-color: #c4c4c41a;
    margin: 0 auto;
    border-radius: 20px;
    padding-bottom: 31px;
  }
  .result__title {
    font-family: $main-font;
    color: $main-color;
    font-size: 24px;
    padding: 36px 0px 36px 93px;
    text-align: left;
    background-color: #c4c4c40d;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .result__mid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 93px;
  }
  .result__input::placeholder {
    color: #ffffff80;
  }
  .result__input:focus {
    border: 3px solid $second-color;
  }
  .result__input {
    width: 400px;
    padding: 20px 0px 20px 25px;
    border: 3px solid #c4c4c426;
    background-color: #c4c4c41a;
    color: $main-color;
    border-radius: 20px;
    outline: none;
    font-size: 24px;
  }
  .result__btn:active {
    transform: scale(0.96);
  }
  .result__btn {
    border: 3px solid $second-color;
    background-color: #c4c4c41a;
    font-size: 24px;
    padding: 24px 46px;
    color: $main-color;
    border-radius: 20px;
    cursor: pointer;
  }
  .result__bot {
    padding: 20px 150px;
    background-color: #c4c4c40d;
    width: max-content;
    margin: 0 auto;
    border-radius: 20px;
  }
  .result__text {
    font-size: 24px;
    font-weight: 700;
    font-family: $main-font;
    color: $second-color;

    span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
@media (max-width: 768px) {
  .result {
    .result__title {
      font-size: 20px;
      margin: 0 auto;
    }
    .result__mid {
      flex-direction: column;
      row-gap: 20px;
      justify-content: start;
      align-items: start;
    }
    .result__bot {
      padding: 15px 34px;
    }
    .result__text {
      font-size: 14px;
    }
  }
}
@media only screen and (max-width: 375px) {
  .result {
    .result__title {
      padding: 14px 30px;
      font-size: 9px;
    }
    .result__input {
      width: 200px;
      font-size: 12px;
      padding: 16px 0 16px 23px;
      border-radius: 10px;
    }
    .result__mid {
      padding: 0 13px;
      margin-top: 20px;
    }
    .result__text {
      width: 266px;
      font-size: 10px;
      text-align: center;
    }
    .result__btn {
      font-size: 12px;
      padding: 16px 51px;
      border-radius: 10px;
    }
    .result__bot {
      padding: 12px 0;
      margin-top: 20px;
      border-radius: 10px;
    }
  }
}
