.sytom {
  color: $main-color;
  font-family: $main-font;
  padding-top: 67px;
  padding-bottom: 63px;
  background-image: url("../../src/unsplash_Dd6St65dfYw.png");
  background-repeat: no-repeat;
  background-position: calc(50% - 15px) bottom;
  .sytom__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sytom__top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sytom__subtitle {
    font-size: 24px;
  }
  .sytom__title {
    font-size: 48px;
    margin-top: 20px;
    span {
      color: $second-color;
    }
  }
  .sytom__text {
    color: #ffffff80;
    font-size: 24px;
    margin-top: 40px;
    text-align: center;
    width: 953px;
  }
  .sytom__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 198px;
    row-gap: 64px;
  }
  .sytom__first {
    width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sytom__second {
    width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .sytom__third {
    width: 1500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 768px) {
  .sytom {
    background-size: 450px 343px;
    .sytom__subtitle {
      font-size: 20px;
    }
    .sytom__text {
      font-size: 20px;
      width: 553px;
    }
    .sytom__title {
      font-size: 36px;
    }
    .sytom__img {
      width: 183px;
      height: 63px;
      justify-content: center;
    }
    .sytom__first {
      width: 600px;
      margin-left: 20px;
      .sytom__img {
        &:nth-child(2) {
          width: 257px;
          height: 65px;
        }
      }
    }
    .sytom__second {
      width: 650px;
      .sytom__img {
        &:nth-child(2) {
          width: 235px;
          height: 65px;
        }
      }
    }
    .sytom__third {
      width: 750px;
      &:nth-child(1) {
        width: 235px;
        height: 65px;
      }
    }
    .sytom__bottom {
      margin-top: 68px;
    }
  }
}
@media only screen and (max-width: 375px) {
  .sytom {
    background-size: 222px 167px;
    background-position: calc(50% - 3px) bottom;
    .sytom__subtitle {
      font-size: 12px;
    }
    .sytom__title {
      font-size: 24px;
      margin-top: 10px;
    }
    .sytom__text {
      font-size: 12px;
      width: 293px;
      margin-top: 10px;
    }
    .sytom__bottom {
      margin-top: 37px;
      row-gap: 13px;
    }
    .sytom__img {
      width: 95px;
      height: 32px;
    }
    .sytom__first {
      width: 300px;
      .sytom__img {
        &:nth-child(2) {
          width: 124px;
          height: 32px;
        }
      }
    }
    .sytom__second {
      width: 320px;
      .sytom__img {
        &:nth-child(2) {
          width: 110px;
          height: 32px;
        }
      }
    }
    .sytom__third {
      width: 350px;
      margin-left: -10px;
      .sytom__img {
        &:nth-child(1) {
          width: 100px;
          height: 32px;
        }
      }
    }
  }
}
