.virus {
  padding-top: 60px;
  padding-bottom: 70px;
  .virus__inner {
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    .virus__top {
      display: flex;
      justify-content: space-between;
      // column-gap: 100px;
      align-items: center;
    }
    .virus__title {
      font-family: $main-font;
      color: $main-color;
      font-size: 45px;
      width: 503px;
    }
    .virus__text {
      width: 427px;
      font-family: $main-font;
      color: #ffffff80;
      align-self: start;
    }
    .virus__bottom {
      display: flex;
      justify-content: center;
      column-gap: 74px;
      align-items: center;
    }
    .bottom__left {
      background-color: #c4c4c433;
      padding: 40px 55px 74px 40px;
      border-radius: 50px;
      border-top-right-radius: 150px;
      margin-left: 40px;
    }
    .left__inner {
      display: flex;
      flex-direction: column;
    }
    .left__bg {
      padding: 15px;
      background-color: #c4c4c41a;
      border-radius: 30px;
      max-width: max-content;
    }
    .shield {
      font-size: 70px;
      color: $second-color;
    }
    .left__title {
      font-size: 24px;
      width: 300px;
      color: $second-color;
      font-family: $main-font;
      margin-top: 40px;
    }
    .left__text {
      font-family: $main-font;
      color: $main-color;
      width: 352px;
      margin-top: 30px;
      margin-bottom: 40px;
    }
    .left__bottom:hover .right__arrow {
      transform: translate(10px, 0);
    }
    .left__bottom {
      width: 150px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      color: $second-color;
      cursor: pointer;
    }
    .bottom__text {
      font-weight: 700;
      font-size: 18px;
      font-family: $main-font;
    }
    .right__arrow {
      transition: all ease 0.3s;
      font-size: 25px;
    }
    .bottom__list {
      display: flex;
      list-style: none;
      align-self: flex-end;
      column-gap: 74px;
    }
    .bottom__item {
      display: flex;
      flex-direction: column;
      padding: 30px;
      border-radius: 50px;
      border: 3px solid #ffffff80;
      width: 350px;
    }
    .bottom__item__bg {
      padding: 11px;
      background-color: #c4c4c41a;
      width: max-content;
      border-radius: 21px;
    }
    .people {
      color: $main-color;
      font-size: 48px;
    }
    .bottom__left__title {
      color: $main-color;
      font-family: $main-font;
      font-size: 24px;
      margin-top: 40px;
      margin-bottom: 52px;
    }
    .bottom__left__bottom:hover .bottom__left__text {
      color: $second-color;
    }
    .bottom__left__bottom {
      display: flex;
      width: 142px;
      justify-content: space-between;
      cursor: pointer;
      align-items: center;
    }

    .bottom__left__bottom:hover .bottom__right__arrow {
      transform: translate(10px, 0px);
      color: $second-color;
    }
    .bottom__left__text {
      color: #ffffff80;
      font-family: $main-font;
      transition: all ease 0.3s;
    }
    .bottom__right__arrow {
      color: #ffffff80;
      transition: all ease 0.3s;
      font-size: 25px;
    }
    .mb {
      margin-bottom: 80px;
    }
  }
}
@media (max-width: 768px) {
  .virus {
    .virus__inner {
      .virus__title {
        font-size: 36px;
      }
      .virus__top {
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 41px;
      }
      .virus__bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 40px;
      }
      .bottom__left {
        margin-left: 0;
      }
      .bottom__left__title {
        font-size: 20px;
        width: 230px;
      }
      .bottom__list {
        justify-content: space-between;
        margin: 0 auto;
      }
      .bottom__item {
        width: 296px;
      }
    }
  }
}
@media only screen and (max-width: 375px) {
  .virus {
    .virus__inner {
      .virus__bottom {
        flex-direction: column;
      }
      .bottom__list {
        flex-direction: column;
        row-gap: 30px;
      }
      .shield {
        font-size: 30px;
      }
      .left__title {
        font-size: 14px;
        width: 172px;
      }
      .left__text {
        font-size: 12px;
        width: 256px;
      }
      .bottom__text {
        font-size: 12px;
      }
      .right__arrow {
        font-size: 20px;
      }
      .left__bottom {
        width: 105px;
      }
      .bottom__left {
        padding: 20px 20px 30px 20px;
        border-radius: 20px;
        border-top-right-radius: 80px;
      }
      .left__inner {
      }
    }
  }
}
